* {
    font-family:monospace, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    background: linear-gradient(135deg, #121212 0%, #1e3c72 50%, #2a5298 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 3rem;
}

.hidden {
    display: none;
}

#header {
    text-align: center;
    margin-top: 3rem;
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    min-width: 35rem;
    padding: 2rem 3rem;
    box-shadow: rgb(203, 203, 203) 0px 1px 12px -1px, #121212 0px 2px 4px -1px;
}

#textFelt {
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 5rem;
}

#textFelt:focus {
    outline: none;
}

#alert-tekst, #alert-skift, #alert-dekrypter {
    color: #ffb6b6;
    font-size: 0.9rem;
    margin-top: -0.5rem;
}

/*Shift*/
#skift-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

#skiftInput {
    width: 100px;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    text-align: center;
    -moz-appearance: textfield;
}

#skiftInput::-webkit-outer-spin-button,
#skiftInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#skiftInput:focus {
    outline: none;
}

#knapper {
    display: flex;
    gap: 1rem;
    margin: 1rem auto;
}

#krypterBtn {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #b62632;
    color: white;
    cursor: pointer;
    box-shadow: #121212 0px 4px 6px -1px, #121212 0px 2px 4px -1px;
    &:hover {
        background-color: #d13c4d;
        box-shadow: none;
    }
}

#dekrypterBtn {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #287b2b;
    color: white;
    cursor: pointer;
    box-shadow: #121212 0px 4px 6px -1px, #121212 0px 2px 4px -1px;
    &:hover {
        background-color: #3c9a3c;
        box-shadow: none;
    }
}

#resultat-wrapper {
    margin-top: 1rem;
    width: 100%;
    min-height: 7rem;
    background-color: rgba(104, 104, 104, 0.1);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: rgb(203, 203, 203) 0px 1px 12px -1px, #121212 0px 2px 4px -1px;
    h2 {
        margin-bottom: 0.5rem;
        font-size: large;
        font-weight: normal;
        color: #ffffff;
        text-decoration:dotted underline;
        text-underline-offset: 4px;
    }
}

#resetknap {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #5d6c78;
    color: white;
    cursor: pointer;
    margin-top: 1.5rem;
    box-shadow: rgb(68, 68, 68) 0px 1px 12px -1px, #121212 0px 2px 4px -1px;
    &:hover {
        background-color: #777777;
        box-shadow: none;
    }
}